/* This file is where we will put all of our CSS code */

body {
	background-color: lightyellow; /* This makes the color of the background for all pages a lightyellow */
	font-family: Arial;
} 

p {
	text-align: center; /* The main paragraph text is aligned to the center */
	font-size: 20px;
}

h2 {
	text-align: center; /* This aligns the links for the other pages on the websites in the center */
} 